<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.accp.office.dao.ApprovalStateMapper">
  <resultMap id="BaseResultMap" type="org.accp.office.pojo.ApprovalState">
    <id column="approval_state_id" jdbcType="INTEGER" property="approvalStateId" />
    <result column="approval_state_name" jdbcType="VARCHAR" property="approvalStateName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    approval_state_id, approval_state_name
  </sql>
  <select id="selectByExample" parameterType="org.accp.office.pojo.ApprovalStateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from approvalstate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from approvalstate
    where approval_state_id = #{approvalStateId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from approvalstate
    where approval_state_id = #{approvalStateId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.accp.office.pojo.ApprovalStateExample">
    delete from approvalstate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.accp.office.pojo.ApprovalState">
    insert into approvalstate (approval_state_id, approval_state_name
      )
    values (#{approvalStateId,jdbcType=INTEGER}, #{approvalStateName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.accp.office.pojo.ApprovalState">
    insert into approvalstate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="approvalStateId != null">
        approval_state_id,
      </if>
      <if test="approvalStateName != null">
        approval_state_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="approvalStateId != null">
        #{approvalStateId,jdbcType=INTEGER},
      </if>
      <if test="approvalStateName != null">
        #{approvalStateName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.accp.office.pojo.ApprovalStateExample" resultType="java.lang.Long">
    select count(*) from approvalstate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update approvalstate
    <set>
      <if test="record.approvalStateId != null">
        approval_state_id = #{record.approvalStateId,jdbcType=INTEGER},
      </if>
      <if test="record.approvalStateName != null">
        approval_state_name = #{record.approvalStateName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update approvalstate
    set approval_state_id = #{record.approvalStateId,jdbcType=INTEGER},
      approval_state_name = #{record.approvalStateName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.accp.office.pojo.ApprovalState">
    update approvalstate
    <set>
      <if test="approvalStateName != null">
        approval_state_name = #{approvalStateName,jdbcType=VARCHAR},
      </if>
    </set>
    where approval_state_id = #{approvalStateId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.accp.office.pojo.ApprovalState">
    update approvalstate
    set approval_state_name = #{approvalStateName,jdbcType=VARCHAR}
    where approval_state_id = #{approvalStateId,jdbcType=INTEGER}
  </update>
</mapper>